imageio==2.34.0
imageio-ffmpeg==0.4.9
accelerate==0.27.2
addict==2.4.0
einops==0.6.1
einops-exts==0.0.4
ffmpeg-python==0.2.0
gradio==4.27.0
imageio-ffmpeg==0.4.9
transformers==4.31.0
torch==2.2.0
torchvision==0.17.0
xformers==0.0.24
wandb==0.15.12
yapf==0.40.2
insightface==0.7.3
omegaconf==2.3.0
onnx==1.15.0
onnxruntime
opencv-python==4.9.0.80
diffusers